/* line 2, ../../resources/assets/sass/arklab/sass/calendar.scss */
.fc-row .fc-bg {
  display: none;
}
/* line 6, ../../resources/assets/sass/arklab/sass/calendar.scss */
.fc-row .fc-content-skeleton tbody {
  display: none;
}

/* line 13, ../../resources/assets/sass/arklab/sass/calendar.scss */
.fc-view-container table {
  border-collapse: inherit;
}
/* line 15, ../../resources/assets/sass/arklab/sass/calendar.scss */
.fc-view-container table td {
  width: 50px;
  text-align: center;
}
/* line 20, ../../resources/assets/sass/arklab/sass/calendar.scss */
.fc-view-container .fc-other-month {
  color: #b0bec5;
}

/* line 27, ../../resources/assets/sass/arklab/sass/calendar.scss */
.fc-head table th {
  text-align: center;
}
