@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 13, ../../resources/assets/sass/arklab/sass/main.scss */
html, body {
  font-family: 'cwTeXHei', sans-serif ,"微軟正黑體", "微软雅黑", Helvetica, Arial, "メイリオ", "맑은 고딕", sans-serif;
  height: 100%;
  width: 100%;
  color: #37474F;
}

/* line 21, ../../resources/assets/sass/arklab/sass/main.scss */
.fadeIn {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* line 25, ../../resources/assets/sass/arklab/sass/main.scss */
.fadeInDown {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* line 29, ../../resources/assets/sass/arklab/sass/main.scss */
.fadeInRight {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 33, ../../resources/assets/sass/arklab/sass/main.scss */
.fadeInFast {
  -webkit-animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* line 37, ../../resources/assets/sass/arklab/sass/main.scss */
.fadeInLeft {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 41, ../../resources/assets/sass/arklab/sass/main.scss */
.fadeInLeftBig {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-name: fadeInLeftBig;
  -moz-animation-name: fadeInLeftBig;
  -o-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

/* line 45, ../../resources/assets/sass/arklab/sass/main.scss */
.pageOne {
  height: 100%;
  width: 100%;
  position: relative;
  background: url(/images/home-background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  min-width: 100%;
  min-height: 100%;
  background-attachment: scroll;
}

/* line 58, ../../resources/assets/sass/arklab/sass/main.scss */
.aboutPage {
  height: 100%;
  width: 100%;
  position: relative;
  background: url(/images/about.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
  background-attachment: scroll;
}

/* line 70, ../../resources/assets/sass/arklab/sass/main.scss */
.eduPage {
  height: 100%;
  width: 100%;
  position: relative;
  background: url(/images/coscup.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
  background-attachment: scroll;
}

/* line 82, ../../resources/assets/sass/arklab/sass/main.scss */
.productsPage {
  height: 100%;
  width: 100%;
  position: relative;
  background: url(/images/butterfly.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  background-attachment: scroll;
}

/* line 93, ../../resources/assets/sass/arklab/sass/main.scss */
.flyProjectPage {
  height: 100%;
  width: 100%;
  position: relative;
  background: url(/images/fly.jpg) no-repeat center top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  background-attachment: scroll;
}

/* line 104, ../../resources/assets/sass/arklab/sass/main.scss */
.envirnmentPage {
  height: 60%;
  width: 100%;
  position: relative;
  background: url(/images/envirnment.jpg) no-repeat center top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  background-attachment: scroll;
}

/* line 115, ../../resources/assets/sass/arklab/sass/main.scss */
.documentsPage {
  height: 40%;
  width: 100%;
  position: relative;
  background: url(/images/documents.jpg) no-repeat center top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  background-attachment: scroll;
}

/* line 126, ../../resources/assets/sass/arklab/sass/main.scss */
.page-mask {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 133, ../../resources/assets/sass/arklab/sass/main.scss */
.unslider-arrow {
  color: #FFFFFF;
  font-size: 36px;
  top: 30%;
}

/* line 139, ../../resources/assets/sass/arklab/sass/main.scss */
.slider {
  height: 65%;
  position: absolute;
  min-height: 300px;
  color: white;
}

/* line 146, ../../resources/assets/sass/arklab/sass/main.scss */
.block {
  position: relative;
  top: 65%;
  width: 100%;
  height: 35%;
}

/* line 153, ../../resources/assets/sass/arklab/sass/main.scss */
.block-content {
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  background: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: white;
}
/* line 163, ../../resources/assets/sass/arklab/sass/main.scss */
.block-content img {
  position: absolute;
  height: 100%;
  width: auto;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 183, ../../resources/assets/sass/arklab/sass/main.scss */
.block-content .title {
  font-size: 18px;
  position: absolute;
  z-index: 5;
  color: white;
  padding: 10px 10px 10px 10px;
}

/* line 193, ../../resources/assets/sass/arklab/sass/main.scss */
.block-content .illustration {
  color: white;
  position: absolute;
  visibility: hidden;
}

/* line 199, ../../resources/assets/sass/arklab/sass/main.scss */
.block-content:hover .illustration {
  visibility: visible;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 150px;
  line-height: 150px;
}

/* line 209, ../../resources/assets/sass/arklab/sass/main.scss */
.block-content:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.7;
}

/* line 215, ../../resources/assets/sass/arklab/sass/main.scss */
#mark {
  padding-left: 10px;
  padding-top: 10px;
}

/* line 220, ../../resources/assets/sass/arklab/sass/main.scss */
.editButton {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* line 227, ../../resources/assets/sass/arklab/sass/main.scss */
.beSorted tr {
  cursor: move !important;
}

/* line 232, ../../resources/assets/sass/arklab/sass/main.scss */
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* line 238, ../../resources/assets/sass/arklab/sass/main.scss */
body.dragging, body.dragging * {
  cursor: move !important;
}

@media (min-width: 1200px) {
  /* line 243, ../../resources/assets/sass/arklab/sass/main.scss */
  .center {
    position: absolute;
    width: 1170px;
    height: 220px;
    margin-top: -150px;
    margin-left: -585px;
    top: 50%;
    left: 50%;
  }

  /* line 253, ../../resources/assets/sass/arklab/sass/main.scss */
  .mobile br {
    display: none;
  }

  /* line 257, ../../resources/assets/sass/arklab/sass/main.scss */
  .block-content {
    width: 25%;
  }
}
@media (min-width: 992px) {
  /* line 263, ../../resources/assets/sass/arklab/sass/main.scss */
  .center {
    position: absolute;
    width: 970px;
    height: 220px;
    margin-top: -150px;
    margin-left: -485px;
    top: 50%;
    left: 50%;
  }

  /* line 273, ../../resources/assets/sass/arklab/sass/main.scss */
  .mobile br {
    display: none;
  }

  /* line 277, ../../resources/assets/sass/arklab/sass/main.scss */
  .block-content {
    width: 25%;
  }
}
@media (min-width: 758px) {
  /* line 283, ../../resources/assets/sass/arklab/sass/main.scss */
  .center {
    position: absolute;
    width: 750px;
    height: 220px;
    margin-top: -150px;
    margin-left: -375px;
    top: 50%;
    left: 50%;
  }

  /* line 293, ../../resources/assets/sass/arklab/sass/main.scss */
  .mobile br {
    display: none;
  }

  /* line 297, ../../resources/assets/sass/arklab/sass/main.scss */
  .block-content {
    width: 25%;
  }
}
@media (max-width: 768px) {
  /* line 303, ../../resources/assets/sass/arklab/sass/main.scss */
  .center {
    position: absolute;
    width: 80%;
    height: 320px;
    margin-top: -160px;
    margin-left: -40%;
    top: 50%;
    left: 50%;
  }

  /* line 313, ../../resources/assets/sass/arklab/sass/main.scss */
  .mobile br {
    display: block;
  }

  /* line 317, ../../resources/assets/sass/arklab/sass/main.scss */
  .block-content {
    width: 50%;
  }
}
