@import "compass/css3";
@import "animated/animated";

@include animation(fade-in);

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

* {
	font-family: 'cwTeXHei', sans-serif;
}

h* {
	font-family: 'cwTeXHei', sans-serif;
}

$minHeight: 567px;

html,body {
	height: 100%;
}

.fadeIn {
	@include animate(fade-in, 1000ms, 1000ms);
}

.page-mask {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
}

section {
	padding: 0 0 0 0;
}

#aboutCover {
	height: 100%;
	width: 100%;

	min-height: $minHeight;

	position: relative;
	background: url(http://i.imgur.com/betF4w2.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
}

#ark90Cover {
	height: 100%;
	width: 100%;

	position: relative;
	background: rgba(40,48,72,1);
	background: -moz-linear-gradient(top, rgba(40,48,72,1) 0%, rgba(133,147,152,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,48,72,1)), color-stop(100%, rgba(133,147,152,1)));
	background: -webkit-linear-gradient(top, rgba(40,48,72,1) 0%, rgba(133,147,152,1) 100%);
	background: -o-linear-gradient(top, rgba(40,48,72,1) 0%, rgba(133,147,152,1) 100%);
	background: -ms-linear-gradient(top, rgba(40,48,72,1) 0%, rgba(133,147,152,1) 100%);
	background: linear-gradient(to bottom, rgba(40,48,72,1) 0%, rgba(133,147,152,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283048', endColorstr='#859398', GradientType=0 );

	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	.container {
		color: #fafafa;
	}

	h3 {
		background: -webkit-linear-gradient(#ece9e6, #ffffff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

#ark90Explode {

	height: 100%;
	width: 100%;
	position: relative;
	@include background-size(cover);

	background: rgba(237,237,237,1);
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}

#ark90Details {
	//height: 70%;
	width: 100%;
	position: relative;
	.container {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

#contacts {
	width: 100%;

	padding: 20px 20px 20px 20px;

	position: relative;
	background: url(http://i.imgur.com/sp4pTUP.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background: rgba(246,144,1,1);
	background: -moz-linear-gradient(-45deg, rgba(246,144,1,1) 0%, rgba(249,32,115,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,144,1,1)), color-stop(100%, rgba(249,32,115,1)));
	background: -webkit-linear-gradient(-45deg, rgba(246,144,1,1) 0%, rgba(249,32,115,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(246,144,1,1) 0%, rgba(249,32,115,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(246,144,1,1) 0%, rgba(249,32,115,1) 100%);
	background: linear-gradient(135deg, rgba(246,144,1,1) 0%, rgba(249,32,115,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f69001', endColorstr='#f92073', GradientType=1 );

	background-attachment: scroll;

	.container {
		color: white;
	}

	a {
		color: #01579b;
	}

	font-size: 18px;

	hr {
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid #cfd8dc;
	    margin: 1em 0;
	    padding: 0; 
	}
}

#arkEduCover {
	height: 100%;
	width: 100%;

	position: relative;
	background: url(/images/P1080643.JPG) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	min-height: 627px;

	.container {
		color: white;
	}

	.page-mask {
		background-color: rgba(0, 0, 0, 0.4)
	}
}


#eduCover {
	height: 100%;
	width: 100%;

	position: relative;
	background: url(http://i.imgur.com/r0gUOjo.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	min-height: 627px;

	.page-mask {
		background-color: rgba(0, 0, 0, 0.4);
	}

}

#plansCover {
	height: 75%;
	width: 100%;

	position: relative;
	background: url(http://i.imgur.com/keavinx.png) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	min-height: 627px;

	.container {
		color: white;
	}

	.page-mask {
		background-color:  rgba(0, 0, 0, 0.2);
	}
}
#lassCover {
	height: 100%;
	width: 100%;

	position: relative;
	background: url(http://i.imgur.com/9vrY7iF.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	min-height: 627px;

	.page-mask {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

#calendar {
	background-color: #283593;
	height: 100%;
	width: 100%;

	position: relative;
	color: white;
	margin: 0 0 0 0;
	padding: 10px 10px 10px 10px;

	min-height: 800px;

	background: rgba(26,128,165,1);
	background: -moz-linear-gradient(-45deg, rgba(26,128,165,1) 0%, rgba(58,105,170,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(26,128,165,1)), color-stop(100%, rgba(58,105,170,1)));
	background: -webkit-linear-gradient(-45deg, rgba(26,128,165,1) 0%, rgba(58,105,170,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(26,128,165,1) 0%, rgba(58,105,170,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(26,128,165,1) 0%, rgba(58,105,170,1) 100%);
	background: linear-gradient(135deg, rgba(26,128,165,1) 0%, rgba(58,105,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a80a5', endColorstr='#3a69aa', GradientType=1 );
}

#productsCover {
	height: 300px;
	width: 100%;

	position: relative;
	background: url(/images/butterfly.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
}

#flyProjectCover {
	height: 95%;
	width: 100%;

	position: relative;
	background: url(http://i.imgur.com/aMpp1TD.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;

	.page-mask {
		background-color: rgba(0, 0, 0, 0.4)
	}

	.container {
		color: white;
	}
}

#envirnmentCover {
	height: 40%;
	width: 100%;

	position: relative;
	background: url(http://i.imgur.com/s44GGA9.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;

	.page-mask {
		background-color: rgba(0, 0, 0, 0);
	}

	.container {
		color: white;
	}

	p {
		font-size: 18px;
	}
}

#watchImage {
	height: 400px;
	width: 80%;

	background: url(http://i.imgur.com/5eVizGR.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	margin: 0 auto;
}

#topographyImage {
	height: 400px;
	width: 80%;

	background: url(http://i.imgur.com/0NaaO2V.png) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	margin: 0 auto;
}

#aerialCover {
	height: 70%;
	width: 100%;

	background: url(http://i.imgur.com/r0gUOjo.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	margin: 0 auto;
	p {
		font-size: 18px;
	}

	.container {
		color: white;
	}

	.page-mask {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

#flyShowCover {
	height: 70%;
	width: 100%;

	background: url(http://i.imgur.com/OHaZai5.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
	p {
		font-size: 18px;
	}

	.container {
		color: white;
	}

	.page-mask {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}

#documentsCover {
	height: 300px;
	width: 100%;

	position: relative;
	background: url(/images/documents.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
}

#mark {
	padding-left: 10px;
	padding-top: 10px;
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 10px 10px 10px;
}

.container {
	color: #455A64;
}

.collapsible-body {
	background-color: white;
}

