@import "compass/css3";
@import "animated/animated";

@include animation(fade-in);
@include animation(fade-in-left);
@include animation(fade-in-left-big);
@include animation(fade-in-right);
@include animation(fade-in-down);
@include animation(zoom-in);

html, body {
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial, "メイリオ", "맑은 고딕", sans-serif !important;
	height: 100%;
	width: 100%;

	color: #37474F;
}

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

* {
	font-family: 'cwTeXHei', sans-serif;
}

.fadeIn {
	@include animate(fade-in, 500ms, 500ms);
}

.fadeInDown {
	@include animate(fade-in-down, 500ms, 500ms);
}

.fadeInRight {
	@include animate(fade-in-right, 500ms, 500ms);
}

.fadeInFast {
	@include animate(fade-in, 300ms, 300ms);
}

.fadeInLeft {
	@include animate(fade-in-left, 500ms, 500ms);
}

.fadeInLeftBig {
	@include animate(fade-in-left-big, 500ms, 500ms);
}

.pageOne {
	height: 100%;
	width: 100%;
	position: relative;
	background: url(/images/home-background.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	min-width: 100%;
	min-height: 100%;
    background-attachment: scroll;
}

.aboutPage {
	height: 100%;
	width: 100%;
	position: relative;
	background: url(/images/about.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;
	text-align: center;

    background-attachment: scroll;
}

.eduPage {
	height: 100%;
	width: 100%;
	position: relative;
	background: url(/images/coscup.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;
	text-align: center;

    background-attachment: scroll;
}

.productsPage {
	height: 100%;
	width: 100%;
	position: relative;
	background: url(/images/butterfly.jpg) no-repeat center center fixed;
	@include background-size(cover);
	color: white;

	background-attachment: scroll;
}

.flyProjectPage {
	height: 100%;
	width: 100%;
	position: relative;
	background: url(/images/fly.jpg) no-repeat center top fixed;
	@include background-size(cover);
	color: white;

    background-attachment: scroll;
}

.envirnmentPage {
	height: 60%;
	width: 100%;
	position: relative;
	background: url(/images/envirnment.jpg) no-repeat center top fixed;
	@include background-size(cover);
	color: white;

    background-attachment: scroll;
}

.documentsPage {
	height: 40%;
	width: 100%;
	position: relative;
	background: url(/images/documents.jpg) no-repeat center top fixed;
	@include background-size(cover);
	color: white;
    background-attachment: scroll;
}


.page-mask {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,0.2);
}

.unslider-arrow {
	color: #FFFFFF;
	font-size: 48px;
	top: 30%;
}

.slider {
	height: 60%;
	position: absolute;
	min-height: 300px;
	color: white;
}

.block {
	position: relative;
	top: 60%;
	width: 100%;
	height: calc(40% - 64px);
}

.block-content {
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	background: black;

	img {
		position: absolute;

		height: 100%;
		width: auto;
		margin: auto;

		min-height: 100%;
	    min-width: 100%;
	    left: -100%;
	    right: -100%;
	    top: -100%;
	    bottom: -100%;
	
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	.title {
		font-size: 18px;
		position: absolute;
		z-index: 5;
		color: white;
		
		padding: 10px 10px 10px 10px;
	}
}

	.block-content .illustration {
		color:white;
		position:absolute;
		visibility:hidden;
	}

	.block-content:hover .illustration{
		visibility:visible;
		color:white;
		position:absolute;
		top:0; bottom:0; left:0; right:0; margin:auto;
		text-align:center; 
		height: 150px; 
		line-height: 150px;
	}

	.block-content:hover img {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
		opacity: 0.7;
	}

#mark {
	padding-left: 10px;
	padding-top: 10px;
}

@media (min-width: 1200px) {
	.center {
		position: absolute;
		width: 1170px;
		height: 220px;
		margin-top: -150px;
		margin-left: -585px;
		top: 50%;
		left: 50%;
	}

	.mobile br{
		display: none;
	}

	.block-content {
		width: 25%;
	}
}

@media (min-width: 992px) {
	.center {
		position: absolute;
		width: 970px;
		height: 220px;
		margin-top: -150px;
		margin-left: -485px;
		top: 50%;
		left: 50%;
	}

	.mobile br{
		display: none;
	}

	.block-content {
		width: 25%;
	}
}

@media (min-width: 758px) {
	.center {
		position: absolute;
		width: 750px;
		height: 220px;
		margin-top: -150px;
		margin-left: -375px;
		top: 50%;
		left: 50%;
	}

	.mobile br{
		display: none;
	}

	.block-content {
		width: 25%;
	}
}

@media (max-width: 768px) {
	.center {
		position: absolute;
		width: 80%;
		height: 320px;
		margin-top: -160px;
		margin-left: -40%;
		top: 50%;
		left: 50%;
	}

	.mobile br{
		display: block;
	}

	.block-content {
		width: 50%;
	}
}