@import "compass/css3";
@import "animated/animated";
@import "breakpoint";

@include animation(fade-in);
@include animation(fade-in-left);
@include animation(fade-in-left-big);
@include animation(fade-in-right);
@include animation(fade-in-down);
@include animation(zoom-in);

$small: 758px;
$medium: 992px;
$large: 1200px;
$fence-sm: 'max-width' 768px;

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

@font-face {
  font-family: HelveticaNeue;
  src: url(HelveticaNeue-UltraLight.otf);
}

html, body {
	font-family: 'cwTeXHei', sans-serif ,"微軟正黑體", "微软雅黑", Helvetica, Arial, "メイリオ", "맑은 고딕", sans-serif;
	height: 100%;
	width: 100%;

	color: #37474F;

	background-color: #FFFFFF;
}

@for $index from 1 through 6 {
  h#{$index}{
    font-family: HelveticaNeue;
  }
}


.allProducts {
	width: 100%;
	height: 100%;
	color: #424242;
	background-color: #f5f5f5;

	.butterfly {
		h1 {
			background-color: #43cea2;
			background: #43cea2; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		hr {
			border: 0;
		    height: 1px;
			background-color: #43cea2;
			background: #43cea2; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
			
		}

		background-color: #fafafa;
	}

	.dragonfly {
		h1 {
			background: #525252; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		hr {
			border: 0;
		    height: 1px;
		    background: #000000; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}

		background-color: #f5f5f5;
	}

	.crazybull {
		h1 {
			background: #fc00ff; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		hr {
			border: 0;
		    height: 1px;
			background: #fc00ff; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */		
		}

		background-color: #f5f5f5;
	}

	.arknano {
		h1 {
			background: rgba(255,135,50,1);
			background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
			background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		hr {
			border: 0;
		    height: 1px;
		    background: rgba(255,135,50,1);
			background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
			background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
		}

		background-color: #fafafa;
	}

	p {
		font-size: 20px;
	}

	.preOrderBlock {
		height: 55%;
		width: 100%;

		padding-top: 84px;
		padding-bottom: 20px;

		@include breakpoint($large) {
			h1 {
				font-size: 48px;
			}
		}

		h1 {
			background-color: #43cea2;
			background: #43cea2; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		hr {
			border: 0;
		    height: 1px;
			background-color: #43cea2;
			background: #43cea2; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
			
		}

	}

	@media (min-width: 1200px) {
		.block {
			height: 50%;
			width: 50%;
			float: left;
			min-height: 600px;
		}

		h1 {
			font-size: 100px;
		}
	}

	@media (min-width: 992px) {
		.block {
			height: 50%;
			width: 50%;
			float: left;
			min-height: 570px;
		}
	}

	@media (min-width: 758px) {
		.block {
			height: 50%;
			width: 50%;
			float: left;
			min-height: 450px;
		}
	}

	@media (max-width: 768px) {
		.block {
			height: 50%;
			width: 100%;
			float: left;
			min-height: 330px;
		}
	}
}

.fadeIn {
	@include animate(fade-in, 500ms, 500ms);
}

.page-mask {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.butterfly {
	position: relative;
	width: 100%;
	height: 100%;

	p {
		font-size: 22px;
	}

	.introCover {
		height: 80%;
		width: 100%;
		background-color: #43cea2;

		background: #43cea2; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  

		font-family: HelveticaNeue;
		position: relative;

		color: #fafafa;

		@include breakpoint($large) {
			h1 {
				font-size: 250px;
			}
		}

		@include breakpoint($medium) {
			h1 {
				font-size: 200px;
			}
		}

		@include breakpoint($small) {
			h1 {
				font-size: 200px;
			}
		}

		@include breakpoint($fence-sm) {
			h1 {
				font-size: 72px;
			}
		}

		img {
		    position: absolute;
		    left: 0;
		    bottom: -250px;
		    text-align: center;
		    right: 0;
		    margin-left: auto;
		    margin-right: auto;
		}
	}

	.computerCompileCover {
		height: 75%;
		width: 100%;

		position: relative;
		background: url(http://i.imgur.com/rQUzEeD.jpg) no-repeat center center fixed;
		@include background-size(cover);
		color: white;

		background-attachment: scroll;	
	}
	
	.preOrderButterfly {
		height: 85%;
		width: 100%;

		position: relative;
		background: url(http://i.imgur.com/gkMjndM.jpg) no-repeat center center fixed;
		@include background-size(cover);
		color: white;

		background-attachment: scroll;	

		h2 {
			font-size: 72px;
		}
	}

	.stemCover {
		height: 50%;
		width: 100%;

		background-color: #43cea2;

		background: #43cea2; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  

		font-family: HelveticaNeue;
		position: relative;

		color: #fafafa;
	}
	
	.detailsIntro {
		padding-top: 280px;
		font-size: 18px;
		.number {
			line-height: 70px;
			font-size: 72px;
			font-family: HelveticaNeue;
		}
		position: relative;
	}


	.phoneIntro {
		background-color: #fafafa;
		color: #263238;
		padding-top: 20px;
		font-size: 18px;

		position: relative;
		.row {
			margin-bottom: 0;
		}
	}

	.arknanoIntro{
		background-color: #f5f5f5;
		margin-bottom: 0px;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.otherProducts {
		.dragonfly {
			h3 {
				background: #525252; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
			    background: #000000; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
		}

		.crazybull {
			h3 {
				background: #fc00ff; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
				background: #fc00ff; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */		
			}

		}

		.arknano {
			h3 {
				background: rgba(255,135,50,1);
				background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
				background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
			    background: rgba(255,135,50,1);
				background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
				background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
			}

			background-color: white;
			padding: 0px 0px 0px 0px;
		}
	}
}

.dragonfly {
	position: relative;
	width: 100%;
	height: 100%;

	p {
		font-size: 22px;
	}

	.detailsIntro {
		.number {
			line-height: 70px;
			font-size: 72px;
			font-family: HelveticaNeue;
		}
		position: relative;
	}

	.dragonIntro {
		background: #525252; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        

		width: 100%;
		height:95%;
		position: relative;
		color: white;

		h2 {
			font-size: 72px;
		}
	}

	.moduelIntro {
		background-color: #f5f5f5;
		width: 100%;
		margin-bottom: 0px;

		padding: 10px 0 10px 0;

		.crop {
			background-image: url('http://i.imgur.com/p9Zu2mP.png');
			width: 200px;
			height: 100px;
			background-position: center;
			/* Make the background image cover the area of the <div>, and clip the excess */
			background-size: cover;
		}
	}

	.preOrder {
		height: 85%;
		width: 100%;

		position: relative;
		background: url(http://i.imgur.com/TDOI7NB.jpg) no-repeat center center fixed;
		@include background-size(cover);
		color: white;

		background-attachment: scroll;	

		h2 {
			font-size: 72px;
		}
	}

	.otherProducts {
		.butterfly {
			h3 {
				background-color: #43cea2;
				background: #43cea2; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
				background-color: #43cea2;
				background: #43cea2; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
				
			}
		}

		.crazybull {
			h3 {
				background: #fc00ff; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
				background: #fc00ff; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */		
			}

		}

		.arknano {
			h3 {
				background: rgba(255,135,50,1);
				background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
				background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
			    background: rgba(255,135,50,1);
				background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
				background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
			}

			background-color: white;
			padding: 0px 0px 0px 0px;
		}
	}
}

.crazybull {
	position: relative;
	width: 100%;
	height: 100%;
	
	p {
		font-size: 22px;
	}

	.intro {
		background: #fc00ff; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		width: 100%;
		height: 75%;

		color: white;
		position: relative;

		@include breakpoint($large) {
			h1 {
				font-size: 200px;
			}
		}

		img {
		    position: absolute;
		    left: 0;
		    bottom: -250px;
		    text-align: center;
		    right: 0;
		    margin-left: auto;
		    margin-right: auto;
		}
	}

	.type {
		p {
			font-size: 18px;
		}
	}

	.detailsIntro {
		padding-top: 280px;
		font-size: 18px;
		.number {
			line-height: 70px;
			font-size: 72px;
			font-family: HelveticaNeue;
		}
		position: relative;
	}

	.computerCompileCover {
		height: 75%;
		width: 100%;

		position: relative;
		background: url(http://i.imgur.com/rQUzEeD.jpg) no-repeat center center fixed;
		@include background-size(cover);
		color: white;

		background-attachment: scroll;	
	}

	.moduelIntro {
		background-color: #f5f5f5;
		width: 100%;
		margin-bottom: 0px;

		padding: 10px 0 10px 0;

		.crop {
			background-image: url('http://i.imgur.com/p9Zu2mP.png');
			width: 200px;
			height: 100px;
			background-position: center;
			/* Make the background image cover the area of the <div>, and clip the excess */
			background-size: cover;
		}
	}

	.preOrder {
		height: 85%;
		width: 100%;

		position: relative;
		background: url(http://i.imgur.com/WrDTZhv.jpg) no-repeat center center fixed;
		@include background-size(cover);
		color: white;

		background-attachment: scroll;	

		h2 {
			font-size: 72px;
		}
	}

	
	.otherProducts {
		.butterfly {
			h3 {
				background-color: #43cea2;
				background: #43cea2; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
				background-color: #43cea2;
				background: #43cea2; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
				
			}
		}

		.dragonfly {
			h3 {
				background: #525252; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
			    background: #000000; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
		}

		.arknanoIntro {
			h3 {
				background: rgba(255,135,50,1);
				background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
				background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			hr {
				border: 0;
			    height: 1px;
			    background: rgba(255,135,50,1);
				background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
				background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
			}

			background-color: white;
			padding: 0px 0px 0px 0px;
		}
	}

}

.arknano {
	position: relative;
	width: 100%;
	height:100%;

	p {
		font-size: 18px;
	}

	.intro {
		background: rgba(255,135,50,1);
		background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
		background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
		background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
		background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);

		width: 100%;
		height: 65%;

		color: white;

		@include breakpoint($large) {
			h1 {
				font-size: 200px;
			}
		}	
		
		p {
			font-size: 22px;
		}
	}

	.otherProducts {
		background-color: #fafafa;
		padding: 10px 0 10px 0;

		.butterfly {
			background-color: #43cea2;
			background: #43cea2; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.dragonfly {
			background: #525252; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.crazybull {
			background: #fc00ff; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.preOrder {
		height: 65%;
		width: 100%;

		position: relative;
		background: url(http://i.imgur.com/d9A1hqQ.jpg) no-repeat center center fixed;
		@include background-size(cover);
		color: white;

		background-attachment: scroll;	

		.page-mask {
			background-color: rgba(0,0,0,0.6);
		}
	}
}

.preOrder {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: auto;

	.intro {		

		background: #16A085; /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #16A085 , #F4D03F); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #16A085 , #F4D03F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
		
		@include breakpoint($large) {
			width: 100%;
		}

		padding-top: 84px;
		padding-bottom: 20px;

		margin: 0 0 0 0 ;
		color: white;
		overflow: auto;

		p {
			font-size: 22px;
		}

		.type input[type="radio"] {
		    display:none; 
		}

		.type label {
		    background-color:#e0e0e0;
		    padding: 20px 10px 10px 10px;
		    font-family: HelveticaNeue;
		    font-size: 22px;
		    text-align: center;
		    color: #263238;

		    border: 0px solid;
		    border-radius: 5px;

		    width: 180px;
		    height: 180px;

		    @include breakpoint($fence-sm) {
		    	width: 120px;
		    	height: 120px;
		    }

		    margin-top: 10px;
		}

		.type input[type="radio"]:checked + label { 
		    background-color:#ffffff;
		    border: 1px solid;
		    border-color: #0288d1;
		}
		
		.type input[type="radio"]:checked+label:before {
			display: none;
		}

		.type input[type="radio"]:checked+label:after {
			display: none;
		}

		.type input[type="radio"]+label:before, [type="radio"]+label:after {
			display: none;
		}

		.details {
			label {
				font-size: 14px;
				color: #eeeeee;
			}
		}

		.butterflyText {
			background-color: #43cea2;
			background: #43cea2; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  		
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.dragonflyText {
			background: #525252; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.crazybullText {
			background: #fc00ff; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.arknanoText {
			background: rgba(255,135,50,1);
			background: -moz-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,135,50,1)), color-stop(100%, rgba(243,111,104,1)));
			background: -webkit-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -o-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			background: linear-gradient(to right, rgba(255,135,50,1) 0%, rgba(243,111,104,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8732', endColorstr='#f36f68', GradientType=1 );
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	
	.buyReulst {
		background-color:#fafafa;
	    color: #263238;
	    padding: 20px 20px 20px 20px;
	}

	.buyResultBlock {
		background-color: #eeeeee;
	    border-radius: 5px;
	    color: #263238;
	    padding: 10px 10px 10px 10px;
	    margin: 10px 10px 10px 10px;

	}
}